In [1]:
#Hello team baby shark
#Let's load the file
import pandas as pd

url = "GSAF5.xls"
baby_shark_davy_df = pd.read_excel(url)
baby_shark_davy_df = baby_shark_davy_df.copy()
#baby_shark_davy_df
#baby_shark_davy_df.head()
#baby_shark_davy_df.tail()

# explore the DataFrame

In [2]:
baby_shark_davy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            7050 non-null   object
 1   Year            7048 non-null   float64
 2   Type            7032 non-null   object
 3   Country         7000 non-null   object
 4   State           6564 non-null   object
 5   Location        6483 non-null   object
 6   Activity        6465 non-null   object
 7   Name            6831 non-null   object
 8   Sex             6471 non-null   object
 9   Age             4056 non-null   object
 10  Injury          7015 non-null   object
 11  Fatal Y/N       6489 non-null   object
 12  Time            3524 non-null   object
 13  Species         3919 non-null   object
 14  Source          7030 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6794 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

In [3]:
baby_shark_davy_df.describe(include = "all")

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
count,7050.0,7048.000000,7032,7000,6564,6483,6465,6831,6471,4056.0,...,3919,7030,6799,6794,6796,6798,6797,6799.000000,1,2
unique,6094.0,NaN,13,249,939,4598,1608,5774,10,251.0,...,1729,5386,6789,6784,6776,6777,6775,NaN,1,2
top,1957.0,NaN,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16.0,...,White shark,"K. McMurray, TrackingSharks.com",1907.10.16.R-HongKong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2021.07.23,2012.09.02.b,NaN,stopped here,Teramo
freq,9.0,NaN,5203,2573,1192,191,1140,679,5654,92.0,...,194,131,2,2,4,2,2,NaN,1,1
mean,NaN,1935.722900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3401.152081,NaN,NaN
std,NaN,271.083776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1963.076319,NaN,NaN
min,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN
25%,NaN,1948.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1701.500000,NaN,NaN
50%,NaN,1986.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3401.000000,NaN,NaN
75%,NaN,2010.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5100.500000,NaN,NaN
max,NaN,2026.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6802.000000,NaN,NaN

In [4]:
print(baby_shark_davy_df.columns)

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [5]:
baby_shark_davy_df['Species '].unique()

array(['Nurse shark ', 'Tiger or Bull shark', 'Bronze whaler?', ...,
       "12' tiger shark", 'Blue pointers',
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      shape=(1730,), dtype=object)

In [6]:
baby_shark_davy_df['Species '].head(10)

0               Nurse shark
1        Tiger or Bull shark
2             Bronze whaler?
3         unknown 1.2m shark
4             Tiger shark 4m
5          Great White Shark
6                 Not stated
7                 Not stated
8    5m (16.5ft) Great White
9               Undetermined
Name: Species , dtype: object

In [7]:
#Display the first values

baby_shark_davy_df['Species '].unique()

array(['Nurse shark ', 'Tiger or Bull shark', 'Bronze whaler?', ...,
       "12' tiger shark", 'Blue pointers',
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      shape=(1730,), dtype=object)

In [8]:
baby_shark_davy_df['Species '].value_counts()

Species
White shark                                                                                                                                                                                194
Shark involvement prior to death was not confirmed                                                                                                                                         105
Invalid                                                                                                                                                                                    102
Shark involvement not confirmed                                                                                                                                                             92
Tiger shark                                                                                                                                                                                 89
                                                                                                                                                                                          ...
Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident      1
Unknown, but it was reported that a shark tooth was recovered from the wound                                                                                                                 1
On 8/13/2005 anglers from New Zealand caught a 2.8 m [9'3"], 140-kg [309-lb] shark at the same spot. It was believed this was the same shark that killed Alysha                              1
1.8 m [6'] bull shark                                                                                                                                                                        1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable                                                                1
Name: count, Length: 1729, dtype: int64

# Species' cleaning values

In [9]:
#we clean the space in the columns
baby_shark_davy_df.columns = baby_shark_davy_df.columns.str.strip()

In [10]:
# normalization  data's names
baby_shark_davy_df['Species'] = (
    baby_shark_davy_df['Species']
    .str.lower()
    .str.strip()
    .str.replace(r"[^a-z\s]", "", regex=True)  
)
print (baby_shark_davy_df['Species'].value_counts())

Species
 shark                                                                                                                           249
 m  shark                                                                                                                        219
white shark                                                                                                                      200
 to  shark                                                                                                                       116
 m shark                                                                                                                         113
                                                                                                                                ...
 great hammerhead shark                                                                                                            1
 cm   shark                                                                                                                        1
small brown shark                                                                                                                  1
 m  reef shark  or a  m to  m  to  greycolored shark                                                                               1
said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: count, Length: 982, dtype: int64

In [11]:
# define the name list of Species 
species_list = [
    "great white shark",
    "tiger shark",
    "hammerhead shark",
    "bull shark",
    "whale shark",
    "mako shark",	
    "blue shark",
    "nurse shark",	
    "goblin shark",
    "greenland shark",
    "other shark",
    "None"
]

In [12]:
to_remove = [
    "juvenile", "female", "male", "pup", "ft", "m", "kg",
    "suspected", "reportedly", "report", "involvement", "invalid",
    "questionable", "not confirmed", "unconfirmed", "probable",
    "injury", "described", "said", "thought", "highly", "unlikely"
]

import re

def clean_text(x):
    if pd.isna(x):
        return "other shark"
    # remove the inecesary word
    for word in to_remove:
        x = re.sub(r"\b" + word + r"\b", "", x)
    # reduce or remove some spaces
    x = re.sub(r"\s+", " ", x).strip()
    return x

baby_shark_davy_df["Species_clean"] = baby_shark_davy_df["Species"].apply(clean_text)

In [13]:
mapping = {
    "white shark": "great white shark",
    "great white": "great white shark",
    "hammerhead": "hammerhead shark",
    "tiger": "tiger shark",
    "NaN" : "other shark",
    "nan" : "other shark",
    "identification is questionable": "no shark",
    "questionable": "no shark",
    "Unknown": "other shark",
    "undetermined": "other shark",
    "to  shark":"other shark",
    "m  shark":"other shark",
    "not stated":"other shark",
    "shark":"other shark",
    "unknown m shark":"other shark",
    "shark":"other shark",
    "no shark": "no shark",
    "not confirmed":"no shark",
    "Invalid":"no shark"
}
baby_shark_davy_df["Species"] = baby_shark_davy_df["Species"].replace(mapping).fillna('other shark')

In [14]:
print(baby_shark_davy_df["Species"].value_counts())

Species
other shark                                                                                                                      3163
 shark                                                                                                                            249
 m  shark                                                                                                                         219
great white shark                                                                                                                 206
 to  shark                                                                                                                        116
                                                                                                                                 ...
shark involvement  questionable                                                                                                     1
shortfin mako shark  m to  m  to                                                                                                    1
miami a  cm blacktip  shark and two  cm bamboo catsharks                                                                            1
thought to involve a white bull or tiger shark                                                                                      1
said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable       1
Name: count, Length: 976, dtype: int64

In [15]:
from rapidfuzz import process

def match_species(x):
    # check if there are missing values
    if pd.isna(x):
        return "other shark"
    
    # finding matching values
    result = process.extractOne(x, species_list)
    
    if result is not None:
        match, score, _ = result
        if score > 80:   # confidence threshold
            return match
        else:
            return "other shark"
    

baby_shark_davy_df["Species_clean"] = baby_shark_davy_df["Species"].apply(match_species)

In [16]:
print(baby_shark_davy_df["Species"].value_counts())

Species
other shark                                                                                                                      3163
 shark                                                                                                                            249
 m  shark                                                                                                                         219
great white shark                                                                                                                 206
 to  shark                                                                                                                        116
                                                                                                                                 ...
shark involvement  questionable                                                                                                     1
shortfin mako shark  m to  m  to                                                                                                    1
miami a  cm blacktip  shark and two  cm bamboo catsharks                                                                            1
thought to involve a white bull or tiger shark                                                                                      1
said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable       1
Name: count, Length: 976, dtype: int64

In [17]:
# Remplacer toutes les valeurs non comprises dans la liste par "other shark"
baby_shark_davy_df["Species"] = baby_shark_davy_df["Species"].where(baby_shark_davy_df["Species"].isin(species_list), "other shark")

print(baby_shark_davy_df)

                Date    Year        Type             Country  \
0       14th October  2025.0  Unprovoked            Columbia
1       11th October  2025.0  Unprovoked           Australia
2        7th October  2025.0  Unprovoked           Australia
3     29th September  2025.0  Unprovoked                 USA
4     27th September  2025.0    Provoked          Costa Rica
...              ...     ...         ...                 ...
7045     Before 1903     0.0  Unprovoked           AUSTRALIA
7046     Before 1903     0.0  Unprovoked           AUSTRALIA
7047       1900-1905     0.0  Unprovoked                 USA
7048       1883-1889     0.0  Unprovoked              PANAMA
7049       1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)

                      State                             Location  \
0      Bolivar, del Isolate                    Catagena Province
1                Queensland       Cook Esplanade Thursday Island
2           South Australia                      Kangaroo Island
3            Off California                      Catalina Island
4                       NaN                        Cocos Islands
...                     ...                                  ...
7045      Western Australia                          Roebuck Bay
7046      Western Australia                                  NaN
7047         North Carolina                       Ocracoke Inlet
7048                    NaN                 Panama Bay 8ºN, 79ºW
7049       Eastern Province  Below the English fort, Trincomalee

                   Activity                   Name Sex  Age  ...  \
0      Swimming with sharks             Male child   M   14  ...
1          Fishing/swimming             Samuel Nai   M   14  ...
2                   Surfing           Lee Berryman   M  50+  ...
3                  Swimming     Christopher Murray   M   54  ...
4     Diving-Tagging sharks     Dr. Mauricio Hoyos   M   48  ...
...                     ...                    ...  ..  ...  ...
7045                 Diving                   male   M  NaN  ...
7046           Pearl diving                  Ahmun   M  NaN  ...
7047               Swimming  Coast Guard personnel   M  NaN  ...
7048                    NaN        Jules Patterson   M  NaN  ...
7049               Swimming                   male   M   15  ...

                                             Source  \
0     Kevin McMurray Trackingsharks.com Andy Currie
1                 Kevin McMurray Trackingsharks.com
2                 Kevin McMurray Trackingsharks.com
3     Todd Smith: Kevin McMurray Trackingsharks.com
4     Todd Smith: Kevin McMurray Trackingsharks.com
...                                             ...
7045               H. Taunton; N. Bartlett,  p. 234
7046          H. Taunton; N. Bartlett,  pp. 233-234
7047           F. Schwartz, p.23; C. Creswell, GSAF
7048                            The Sun, 10/20/1938
7049                                     S.W. Baker

                                 pdf  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
7045          ND-0005-RoebuckBay.pdf
7046               ND-0004-Ahmun.pdf
7047  ND-0003-Ocracoke_1900-1905.pdf
7048      ND-0002-JulesPatterson.pdf
7049              ND-0001-Ceylon.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...
7046  http://sharkattackfile.net/spreadsheets/pdf_di...
7047  http://sharkattackfile.net/spreadsheets/pdf_di...
7048  http://sharkattackfile.net/spreadsheets/pdf_di...
7049  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
0                                                   NaN         NaN
1                                                   NaN         NaN
2                                                   NaN         NaN
3                                                   NaN         NaN
4                                                   NaN         NaN
...                                                 ...         ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
7046  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
7047  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
7048  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
7049  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22 Species_clean
0              NaN            NaN         NaN         NaN   nurse shark
1              NaN            NaN         NaN         NaN    bull shark
2              NaN            NaN         NaN         NaN   other shark
3              NaN            NaN         NaN         NaN   other shark
4              NaN            NaN         NaN         NaN   tiger shark
...            ...            ...         ...         ...           ...
7045       ND.0005            6.0         NaN         NaN   other shark
7046       ND.0004            5.0         NaN         NaN   other shark
7047       ND.0003            4.0         NaN         NaN   other shark
7048       ND.0002            3.0         NaN         NaN   other shark
7049       ND.0001            2.0         NaN         NaN   other shark

[7050 rows x 24 columns]

In [18]:
print (baby_shark_davy_df["Species"].value_counts())

Species
other shark          6591
great white shark     206
tiger shark            99
bull shark             81
nurse shark            24
blue shark             19
mako shark             16
hammerhead shark       11
whale shark             2
goblin shark            1
Name: count, dtype: int64