In [51]:
#Hello team baby shark
#Let's load the file
import pandas as pd

url = "GSAF5.xls"
df = pd.read_excel(url)
baby_shark_christos_df = df.copy()
display(baby_shark_christos_df)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [5]:
baby_shark_christos_df.shape

(7050, 23)

In [7]:
baby_shark_christos_df.nunique()

Date              6094
Year               261
Type                13
Country            249
State              939
Location          4598
Activity          1608
Name              5774
Sex                 10
Age                251
Injury            4167
Fatal Y/N           12
Time               462
Species           1729
Source            5386
pdf               6789
href formula      6784
href              6776
Case Number       6777
Case Number.1     6775
original order    6797
Unnamed: 21          1
Unnamed: 22          2
dtype: int64

In [52]:
baby_shark_christos_df["Activity"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7050 entries, 0 to 7049
Series name: Activity
Non-Null Count  Dtype
--------------  -----
6465 non-null   object
dtypes: object(1)
memory usage: 55.2+ KB

In [8]:
baby_shark_christos_df.describe(include = "all")

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
count,7050.0,7048.000000,7032,7000,6564,6483,6465,6831,6471,4056.0,...,3919,7030,6799,6794,6796,6798,6797,6799.000000,1,2
unique,6094.0,NaN,13,249,939,4598,1608,5774,10,251.0,...,1729,5386,6789,6784,6776,6777,6775,NaN,1,2
top,1957.0,NaN,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16.0,...,White shark,"K. McMurray, TrackingSharks.com",1906.09.27.R.a&b-Munich-Swede.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1907.10.16.R,1907.10.16.R,NaN,stopped here,Teramo
freq,9.0,NaN,5203,2573,1192,191,1140,679,5654,92.0,...,194,131,2,2,4,2,2,NaN,1,1
mean,NaN,1935.722900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3401.152081,NaN,NaN
std,NaN,271.083776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1963.076319,NaN,NaN
min,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,NaN
25%,NaN,1948.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1701.500000,NaN,NaN
50%,NaN,1986.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3401.000000,NaN,NaN
75%,NaN,2010.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5100.500000,NaN,NaN
max,NaN,2026.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6802.000000,NaN,NaN

In [ ]:
# we have 7050 rows
# we have 7050 unique "Date" series, which is a good sign
# year count is smaller than data count, which means that there are two data values missing in series "Year"
# Count is all over the place, there are a lot of data missing in different series
# In series "Country", some value are normal and some capitalized
# In series "Locaion", some values have digits
# Sex appears to have 10 unique values, we need to fix that
# Age seems to have 251 unique values, probably some are negative, some have (+)s, and some might have typos
# Fatal Y/N seems to have 12 unique values, let's reduce to 2 and create 0,1 experssion of Boolean.
# Same for Type. It seems to be a boolean with two values, "Provoked" and "Unprovoked".
# Species also has varying values, some have numbers, others have (OR) in between, I would say here we need some research on how many sharks types could be possible, so that we cast that series according to that
# Activity series has 1608 unique values, I believe we should cluster somehow the values so that we can have actionable insights

In [53]:
baby_shark_christos_df["Activity"].nunique()

1608

In [54]:
baby_shark_christos_df["Activity"].isna().sum()

np.int64(585)

In [55]:
baby_shark_christos_df["Activity"].head(10)

0     Swimming with sharks
1         Fishing/swimming
2                  Surfing
3                 Swimming
4    Diving-Tagging sharks
5                  Surfing
6               Snorkeling
7                 Swimming
8                  Surfing
9             Spearfishing
Name: Activity, dtype: object

In [57]:
baby_shark_christos_df["Activity"].tail(10)

7040             NaN
7041         Fishing
7042         Fishing
7043         Fishing
7044        Swimming
7045          Diving
7046    Pearl diving
7047        Swimming
7048             NaN
7049        Swimming
Name: Activity, dtype: object

In [58]:
baby_shark_christos_df["Activity"].value_counts

<bound method IndexOpsMixin.value_counts of 0        Swimming with sharks
1            Fishing/swimming
2                     Surfing
3                    Swimming
4       Diving-Tagging sharks
                ...
7045                   Diving
7046             Pearl diving
7047                 Swimming
7048                      NaN
7049                 Swimming
Name: Activity, Length: 7050, dtype: object>

In [59]:
baby_shark_christos_df["Activity"].value_counts(dropna=False).head(20)

Activity
Surfing            1140
Swimming           1005
NaN                 585
Fishing             493
Spearfishing        391
Wading              178
Bathing             164
Diving              148
Snorkeling          133
Standing            113
Scuba diving         84
Body boarding        63
Body surfing         50
Swimming             47
Boogie boarding      42
Kayaking             40
Free diving          33
Treading water       33
Fell overboard       32
Pearl diving         32
Name: count, dtype: int64

In [60]:
# formating the series in a way that it is easier to work with, lowercasing and stripping it from empty spaces
baby_shark_christos_df["Activity"] = df["Activity"].str.strip().str.lower()

In [61]:
baby_shark_christos_df.head(10)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,diving-tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,surfing,Mercury Psillaskis,M,57,...,Great White Shark,Todd Smith: Andy Currie: Simon De Marchi: Kevi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1st September,2025.0,Unprovoked,USA,Florida,Horseshoe reef Key Largo,snorkeling,Richard Burrows,M,8,...,Not stated,Todd Smith: US SUN: NY Post: The Guardian: Peo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,30th August,2025.0,Unprovoked,USA,Texas,Galveston,swimming,Harper Ochoa,F,8,...,Not stated,Bob Myatt GSAF : People:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,surfing,Brad Ross,M,?,...,5m (16.5ft) Great White,Bob Myatt GSAF The Guardian: 9 News: ABS News:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,spearfishing,Not stated,M,63,...,Undetermined,Ralph Collier GSAF and Kevin MCMurray Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# we have 585 NaN values in series "Activity". I decided to assign the value "Unknown" to those, since I don't want to interrupt the dataframe with extreme actions like removing rows.
baby_shark_christos_df["Activity"] = df["Activity"].fillna("unknown")

In [63]:
baby_shark_christos_df.tail(10)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
7040,Circa 1862,0.0,Unprovoked,USA,Hawaii,Puna,unknown,"A ""chiefess""",F,NaN,...,NaN,Captain W. Young,ND-0010-Puna Hawaii.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0010,ND.0010,11.0,NaN,NaN
7041,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,boy,M,NaN,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0009-boy-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0009,ND.0009,10.0,NaN,NaN
7042,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,...,Blue pointer,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0008-Fisherman2-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0008,ND.0008,9.0,NaN,NaN
7043,Before 1906,0.0,Unprovoked,AUSTRALIA,NaN,NaN,Fishing,fisherman,M,NaN,...,Blue pointers,"NY Sun, 9/9/1906, referring to account by Loui...",ND-0007 - Fisherman-Australia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0007,ND.0007,8.0,NaN,NaN
7044,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,,Swimming,Arab boy,M,NaN,...,Said to involve a grey nurse shark that leapt ...,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",ND-0006-ArabBoy-Prymount.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0006,ND.0006,7.0,NaN,NaN
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",unknown,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [64]:
# I intend on clustering the data based on the most frequent values, and by checking with what all-encompassing names I can replace some values.
baby_shark_christos_df["Activity"].value_counts().head(30)

Activity
Surfing            1140
Swimming           1005
unknown             585
Fishing             493
Spearfishing        391
Wading              178
Bathing             164
Diving              148
Snorkeling          133
Standing            113
Scuba diving         84
Body boarding        63
Body surfing         50
Swimming             47
Boogie boarding      42
Kayaking             40
Free diving          33
Treading water       33
Fell overboard       32
Pearl diving         32
Windsurfing          20
Boogie Boarding      18
Walking              17
Canoeing             16
Fishing              16
Floating             16
Shark fishing        15
Surf fishing         14
Playing              13
Surf-skiing          13
Name: count, dtype: int64

In [ ]:
# I choose to cluster the values in series "Activity" by

# surfing
# swimming
# fishing (includes spearfhising)
# diving/snorkeling
# boating
# unknown

# All values will be tranformed to the closest relation with these words. 
# Disclaimer: All activities on something bigger than a board will be clustered under boating.
# All water activities like standing, playing, trading water, bathing, etc will go under swimming
# All diving activities will be merged regardless of the nature of diving.
# Snorkeling will be examined differently than swimming, and together with diving, because snorkeling by definition takes place in ecosystems where a lot of fish exist, and therefore, a higher probability of sharks.

In [38]:
# now I proceed with clustering
# I start with an activity that I want it to be transformed into a category that is later in the sequence of ifs, but contains a word that will be used for surfing categorization, hence, I put that one first.

def map_activity_to_cluster(x: str) -> str:
    x = str(x).lower().strip()
    
    if "fell overboard" in x:
        return "boating"
    if any(word in x for word in ["surf","paddle", "boarding"]):
        return "surfing"
    if any(word in x for word in ["swim", "wading", "bathing", "treading", "standing", "floating", "playing"]):
        return "swimming"
    if "fish" in x:
        return "fishing"
    if any(word in x for word in ["dive", "snorkel", "diving"]):
        return "diving/snorkeling"
    if any(word in x for word in ["boat", "kayak", "canoe", "overboard", "rowing", "sailing"]):
        return "boating"
    if "unknown" in x:
        return "unknown"
    return "other"

In [65]:
# applying the function to the series

baby_shark_christos_df["Activity_cluster"] = baby_shark_christos_df["Activity"].apply(map_activity_to_cluster)

In [66]:
baby_shark_christos_df["Activity_cluster"].value_counts()

Activity_cluster
swimming             1910
surfing              1644
fishing              1286
diving/snorkeling     696
other                 637
unknown               589
boating               288
Name: count, dtype: int64

In [67]:
# checking the "other" cluster since it's too big, to see what we might have missed from keywords in our clusters.

baby_shark_christos_df.loc[baby_shark_christos_df["Activity_cluster"] == "other", "Activity"].value_counts().head(40)

Activity
Walking                                                                                                                                                      17
Fell into the water                                                                                                                                           9
Sea disaster                                                                                                                                                  8
Shipwreck                                                                                                                                                     7
Murder                                                                                                                                                        6
Sea Disaster                                                                                                                                                  6
Dangling feet in the water                                                                                                                                    5
Feeding sharks                                                                                                                                                5
Watercraft                                                                                                                                                    4
Lifesaving drill                                                                                                                                              4
Splashing                                                                                                                                                     4
Clamming                                                                                                                                                      4
Seine netting                                                                                                                                                 4
Tagging sharks                                                                                                                                                4
Jumped into the water                                                                                                                                         4
Jumping                                                                                                                                                       4
Paddling                                                                                                                                                      4
Wreck of the schooner Pohoiki                                                                                                                                 3
.                                                                                                                                                             3
Sitting                                                                                                                                                       3
Shark watching                                                                                                                                                3
Crabbing                                                                                                                                                      3
SUP                                                                                                                                                           3
Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days                  3
Escaping from Alacatraz                                                                                                                                       3
Sculling                                                                                                                                                      3
Suicide                                                                                                                                                       3
S2N Navy scout plane went down, E.H. Almond & Lieut A.G. Reading in water                                                                                     2
U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.     2
Attempting to kill a shark with explosives                                                                                                                    2
"Flying Tiger" transport plane went down with 5 men onboard                                                                                                   2
Ocean racing                                                                                                                                                  2
Collecting shells                                                                                                                                             2
Aircraft crashed into sea                                                                                                                                     2
Lobstering                                                                                                                                                    2
Washing                                                                                                                                                       2
Splashing                                                                                                                                                     2
Beach seine netting                                                                                                                                           2
Air disaster                                                                                                                                                  2
HMAS Parramatta torpedoed & sunk by the U-559                                                                                                                 2
Name: count, dtype: int64

In [42]:
# we take the decision to keep all species with value "Other" as is, because they are too few and won't affec the results.

In [45]:
df.head(20)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,Activity_cluster
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,swimming with sharks,Male child,M,14,...,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,swimming
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,fishing/swimming,Samuel Nai,M,14,...,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,swimming
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,surfing,Lee Berryman,M,50+,...,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,surfing
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,swimming,Christopher Murray,M,54,...,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,swimming
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,diving-tagging sharks,Dr. Mauricio Hoyos,M,48,...,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,diving/snorkeling
5,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,surfing,Mercury Psillaskis,M,57,...,Todd Smith: Andy Currie: Simon De Marchi: Kevi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,surfing
6,1st September,2025.0,Unprovoked,USA,Florida,Horseshoe reef Key Largo,snorkeling,Richard Burrows,M,8,...,Todd Smith: US SUN: NY Post: The Guardian: Peo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,diving/snorkeling
7,30th August,2025.0,Unprovoked,USA,Texas,Galveston,swimming,Harper Ochoa,F,8,...,Bob Myatt GSAF : People:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,swimming
8,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,surfing,Brad Ross,M,?,...,Bob Myatt GSAF The Guardian: 9 News: ABS News:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,surfing
9,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,spearfishing,Not stated,M,63,...,Ralph Collier GSAF and Kevin MCMurray Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fishing
10,16th August,2025.0,Provoked,USA,Florida,Cayo Costa Boca Grande,fishing,Shawn Meuse,M,?,...,Johannes Marchand: Kevin McMurray Trackingshar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fishing
11,7th August,2025.0,Unprovoked,Australia,NSW,Tathra Beach,surfing,Bowie Daley,M,9,...,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,surfing
12,1st August,2025.0,Unprovoked,Puerto Rico,Carolina,Carolina Beach,wading,Eleonora Boi,F,39,...,Kevin McMurray Trackingsharks.com: NY Post,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,swimming
13,28th July,2025.0,Unprovoked,Australia,South Australia,Seacliff beach Adelaide,kayaking,Nathaniel Drummond,M,19,...,Bob Myatt GSAF: Simon de Marchi:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,boating
14,25th July,2025.0,Unprovoked,French Polynesia,Nuku Hiva,Taiohae Bay,swimming,Male child,M,7,...,Brandyn Gartelman:Kevin McMurray Trackingshark...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,swimming
15,22nd July,2025.0,Unprovoked,Spain,Majorca,Playa de Palma beach,swimming,Italian women,F,85,...,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,swimming
16,20th July,2025.0,Unprovoked,Canary Islands,Fuerteventura,Los Mollinas,surfing (hydrofoiling),Unknown,M,?,...,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,surfing
17,19th July,2025.0,Unprovoked,USA,Florida,Jupiter Inlet off Jupiter Beach Palm Beach County,diving,Jeff Joel,M,69,...,Brandyn Gartelman: Kevin McMurray Trackingshar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,diving/snorkeling
18,18th July,2025.0,Unprovoked,USA,Florida,New Smyrna Beach,surfing,Sam Hollis,M,18,...,Brandyn Gartelman: Kevin McMurray Trackingshar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,surfing
19,15th July,2025.0,Unprovoked,Bahamas,Great Abaco Islands,Spanish Cay,spearfishing,Michael Reich,M,66,...,Kevin McMurray Trackingsharks.com: The Palm Be...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,fishing

In [70]:
# we decided to keep also the column activity in case we need to cross-reference in the future
# bringing the new series "activity_cluster" nexxt to "Activity" so that we avoid forgetting it

cols = list(baby_shark_christos_df.columns)
cols.insert(cols.index("Activity") + 1, cols.pop(cols.index("Activity_cluster")))
baby_shark_christos_df = baby_shark_christos_df.loc[:, cols]

In [71]:
baby_shark_christos_df.head(10)

,Date,Year,Type,Country,State,Location,Activity,Activity_cluster,Name,Sex,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,swimming,Male child,M,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,swimming,Samuel Nai,M,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,surfing,Lee Berryman,M,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,swimming,Christopher Murray,M,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,diving/snorkeling,Dr. Mauricio Hoyos,M,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6th September,2025.0,Unprovoked,Australia,NSW,Long Reef Sydney,Surfing,surfing,Mercury Psillaskis,M,...,Great White Shark,Todd Smith: Andy Currie: Simon De Marchi: Kevi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1st September,2025.0,Unprovoked,USA,Florida,Horseshoe reef Key Largo,Snorkeling,diving/snorkeling,Richard Burrows,M,...,Not stated,Todd Smith: US SUN: NY Post: The Guardian: Peo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,30th August,2025.0,Unprovoked,USA,Texas,Galveston,Swimming,swimming,Harper Ochoa,F,...,Not stated,Bob Myatt GSAF : People:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,18th August,2025.0,Unprovoked,Australia,NSW,Cabarita Beach,Surfing,surfing,Brad Ross,M,...,5m (16.5ft) Great White,Bob Myatt GSAF The Guardian: 9 News: ABS News:...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,17th August,2025.0,Unprovoked,Bahamas,Atlantic Ocean near Big Grand Cay,North of Grand Bahama near Freeport,Spearfishing,fishing,Not stated,M,...,Undetermined,Ralph Collier GSAF and Kevin MCMurray Tracking...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN