In [2]:
import pandas as pd
import numpy as np

url = "GSAF5.xls"
df = pd.read_excel(url)
zina_df = df.copy()
display(zina_df)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [ ]:
zina_df.shape

In [ ]:
zina_df.describe(include="all")

In [ ]:
zina_df.info()

In [ ]:
zina_df.nunique()

In [ ]:
zina_df.dtypes

In [ ]:
zina_df.head(20)

In [ ]:
zina_df.tail(20)

In [ ]:
(zina_df.isna().mean().sort_values(ascending=False) * 100).round(2)

In [ ]:
zina_df.duplicated().sum()

In [ ]:
zina_df.columns

In [ ]:
zina_df.isnull()

In [ ]:
zina_df['Age'].value_counts()

In [ ]:
zina_df.isna().sum() # Age : 2994 NA values

In [ ]:
zina_df.drop_duplicates

In [ ]:
zina_df.dropna(axis=1)

In [ ]:
zina_df.shape

In [ ]:
zina_df['Age'].min()

In [ ]:
zina_df['Age'].max()

In [3]:
word_map = {"teen": 15,"teens": 15,"young": 18,"adult": 30,"(adult)": 30,"elderly": 75,"middle age": 45,"middle-age": 45}

def extract_age(value):
    if pd.isna(value): # check if the value is missing
        return np.nan # if true : returns a missing value NaN

    value = str(value).strip().lower() #coverts to string, removes whitespace, converts to lowercase 

    for key, age in word_map.items(): #using the word_map to inter values
        if key in value:
            return age

    clean_value = value.replace("+", " ").replace("&", " ").replace("-", " ").replace(",", " ") # to remove +, &, -, -> spaces

    parts = clean_value.split() # .split() on spaces and get all the numbers
    
    numbers = []
    for part in parts:
        if part.isdigit():        # check if it is a number
            numbers.append(int(part))
            
    if numbers: #If we found numbers, return the average; example :("28 & 22", "50+", "16 to 18")
        return round(sum(numbers) / len(numbers))

    return np.nan #If nothing found, return NaN

zina_df.insert(zina_df.columns.get_loc("Age") + 1,"Age_clean",zina_df["Age"].apply(extract_age))

zina_df[["Age", "Age_clean"]].head()

   Age  Age_clean
0   14       14.0
1   14       14.0
2  50+       50.0
3   54       54.0
4   48       48.0

In [3]:
zina_df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Age_clean', 'Injury', 'Fatal Y/N', 'Time',
       'Species ', 'Source', 'pdf', 'href formula', 'href', 'Case Number',
       'Case Number.1', 'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [4]:
pd.set_option("display.max_columns", None) # to see hidden columns

In [5]:
zina_df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Age_clean,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,14.0,Severe hand injury,N,Not stated,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,14.0,Serious abdonminal injuries,N,1823 hrs,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,50.0,Lacerations to calf,N,1330hrs,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,54.0,Leg and foot injury,N,0100hrs,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,48.0,Head face and arms,N,Not stated,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN