In [14]:
import pandas as pd

url = "GSAF5.xls"
df_zeineb = pd.read_excel(url)
display(df_zeineb.head(5))
print("-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-")
print(df_zeineb.columns)
df_zeineb.describe(include = "all")
print("-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-")

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-
Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')
-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-

In [15]:
import pycountry
import re

country_names = [(country.name).lower() for country in pycountry.countries]
country_names = list(map(lambda x:  re.sub('[^a-zA-Z]', '', x.lower().strip()) , country_names ))
#print(country_names)

#print(country_names)
#print(df["Country"].unique())
#print(df["Country"].value_counts())
#print(df["Country"].nunique())
#print("-_-_-_-_-_-_-_-_-_-_-_-_-_-_Print duplicated sum-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-_-")
#print(df.duplicated(subset=['Country']).sum())


df_zeineb["Country"] = df_zeineb["Country"].fillna("Unkown Country")

df_zeineb['Country'] = df_zeineb['Country'].str.strip()
df_zeineb['Country'] = df_zeineb['Country'].apply(lambda x: re.sub('[^a-zA-Z]', '', x))
df_zeineb['Country'] = df_zeineb['Country'].apply(lambda x: x.lower())

unique_countries = df_zeineb["Country"].unique()
sorted_unique_countries = sorted(unique_countries , reverse = False)

# Display the sorted unique countries
#print(sorted_unique_countries)

def clean_country(country_to_replace, official_list):
    if country_to_replace  == "USA":
        return country_to_replace, False
    else:
        replaced = False
        for official_country in official_list:
        # Check if any part of the official country is in the country_to_replace
            if country_to_replace in official_country:
                replaced = True
                return official_country , replaced  # Return the matched official country name
        # If no match is found, return the original name
        return country_to_replace , replaced


#for country in sorted_unique_countries:
#   print(f"old country: {country} ; then new_country : { clean_country(country, country_names)}")

df_zeineb['Country'] = df_zeineb['Country'].apply(lambda country: clean_country(country, country_names)[0])
#display(df[df['Country'] != "unkowncountry"])

NameError: name 'df' is not defined